body {
	background-color: $super-light-gray;
	height: 100%;
	// @include media-breakpoint-up(md) {
	//   margin-left: 100px;
	//   margin-right: 100px;
	// }
}

#root {
	height: inherit;
}

.App {
	height: inherit;
}

section {
	height: inherit;
}

button {
	cursor: pointer;
}
