// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
	background-color: $head-menu-bar;
	height: 70px;
	line-height: 70px;
	@include media-breakpoint-up(md) {
		padding-left: 280px;
	}
}

.top-bar {
	padding-left: 20px;
	display: inline;
	@include media-breakpoint-up(md) {
		margin-left: 40px;
		transition: margin 0.3s ease;
		padding-left: 0;
	}
	.bi {
		// margin-left: 25px;  //When more options exist
		margin-left: 0;
	}
	.profile-icons {
		float: right;
		@include media-breakpoint-up(md) {
			margin-right: 20px;
		}
		.bi {
			margin-left: 0;
		}
	}

	.logout {
		float: right;
		margin-right: 20px;
	}
	.flag {
		height: 20px;
		margin-right: 10px;
		margin-left: 10px;
	}
	.profile-pic-icon {
		margin-left: 20px;
	}

	.badge {
		font-size: 55%;
	}

	.badge-pill {
		padding-right: 0.45em;
		padding-left: 0.45em;
		border-radius: 10rem;
		margin-left: -5px;
		position: absolute;
		margin-top: 25px;
	}

	.btn {
		@include media-breakpoint-up(md) {
			line-height: 1.2;
		}
	}
}

.close-menu {
	.top-bar {
		@include media-breakpoint-up(md) {
			margin-left: -170px;
			transition: margin 0.3s ease;
		}
	}
}
