// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// #root {
//   // .border-bottom {
//   //   border-bottom: none !important;
//   // }

// //   .shadow-sm {
// //     box-shadow: none !important;
// //     background-color: $light-grey;
// //   }
// }

header {
  padding-left: 280px;
  background-color: $head-menu-bar;
  height: 70px;
  line-height: 70px;
}

.top-bar {
  display: inline;
  margin-left: 40px;
  transition: margin 0.3s ease;
  .bi {
    margin-left: 25px;
  }
  .profile-icons {
    float: right;
    .bi {
      margin-left: 0;
    }
  }
  .flag {
    height: 20px;
    margin-right: 25px;
  }
  .profile-pic-icon {
    margin-right: 25px;
  }
}


.close-menu {
  .top-bar {
    margin-left: -170px;
    transition: margin 0.3s ease;
  }
}
